---
layout: general
---
.row.columns
  %h1
    #{page.title}
.row
  .columns
    ~ content
  .columns.large-6.medium-6
    -if page.more_recent
      %a{href: "/thoughts/#{page.more_recent}.html"}
        More Recent Post
    -else
      %a{href: '/thoughts.html'}
        All Posts
  .columns.large-6.medium-6.text-right
    -if page.less_recent
      %a{href: "/thoughts/#{page.less_recent}.html"}
        Less Recent Post
    -else
      %a{href: '/thoughts.html'}
        All Posts