---
title: The Eric Epic
layout: general
---
.row.columns
  %h1
    #{page.title}
  %hr.no-spacing
  .small-margin-bottom
.row.columns
  %p.text-right
    Hear, Alucard, this pleading call.
    %br
    You who know... who see it all.
    %br
    Now guide my hand across the page.
    %br
    Recite to me this epic age,
    %br
    Lest histories themselves repeat,
    %br
    and your final end you finally meet.
    %br
    Vulgar Era number two
    %br
    would mean an early end to you.
  %p
    Even before he woke, his brain was at work trying to decipher what the devil was going on. He hadn't slept well at all. His scattered dreams of the faces he knew he'd never seen before faded in and out. At last he sat up in bed, half believing that he was going insane. Shaking the sleep off, he put his face in his hands and said, "I've wondered more than once if I was crazy, but never like this. This is serious. Am I really losing my mind? How could I suddenly forget four classmates? Especially some as distinctive as they are. -- OK, ok... okokOK. I'm not crazy. I'm not crazy."
  %p
    "Yesterday. Emily Mordello. Since when has she been in love with that kid? What is his name? I don't even know what his name is! Does he even have a name? ..."
  %p
    Getting up, stretching, and putting on his clothes, he thought to himself, "What's the point? Nothing. This is so frustrating. And everyone else seems to have known them all forever. What's going on? This can't just be me. Can it?"
  %p
    Thinking as he pulled on his socks, "That's curious. Why do I feel so light?"
  %p
    Groping in his pocket, he grabbed his comb and began dragging it through his hair while he walked over to his mirror. The moment he caught sight of his reflection he lost some balance. He could see his shape, but he couldn't make out the face. His head spinning, he stumbled out of view of his reflection.
  %p
    Shaking his head, he said, "Whoa. That was weird. Ow, my head hurts... what the heck? I'm ok. I need some breakfast."
  %p
    Managing combing his hair without the aid of a mirror, he made his way downstairs, creaking slightly. Entering his kitchen, he turned on the small, boxish, rabbit-eared television on the counter. On the news, a reporter was speaking in front of a small house. "...the death count is on the rise. Tragedy struck at 401 Terrace Drive last Wednesday night. Edward and Lucy Almony, a couple of thirty-two and twenty-eight, were killed by a gas leak..."
  %p
    Eric munched his cereal, half hearing. "Could it be amnesia? No. Selective amnesia? Does that exist? I'll ask Dr. Forbeson after science class today."
  %p
    "...the funeral procession. Investigation concludes they died of poisoning. There are no clues leading as to how. At 212 Edison Boulevard, a family of three mysteriously vanished without a trace. There has been no word reported from them since Thursday Evening."
  %p
    Eric, turning off the TV, placed his bowl in the sink, grabbed his backpack and left for school. Lost in thought, he took some time arriving at school. Everything and everyone were exactly as they should have been. Kids were chatting and bustling about. No one but he seemed to be any different at all. Arriving at his locker, he opened it and took his books out.
  %p
    "Maybe it was a dream. Maybe it's actually Tuesday and I just dreamed the whole thing."
  %p
    A smile spread across his face as he closed his locker. "That's it. My dreams are really vivid, anyway. But I've never had a dream anything like that before."
  %p
    He strolled to his first period class laughing to himself and waved to some passersby on his way. "It might even be Monday. My dreams have a way of messing with my sense of time."
  %p
    He arrived at his room, went towards his seat, and his heart stopped dead.
  %p
    "No." he thought.
  %p
    Yes, in fact, it was he. The slicked, curling, pitch black sideburns; the lax manner; the strange clothes; the perfectly shaped face. Appearing as though he were half asleep, he sat completely content and unaware with his legs crossed, lounging, resting an elbow on the desk behind him. It sent a chill down Eric's spine just looking at him.
  %p
    Snapping out of it, he sat down and took out his math book. "I'm going to get to the bottom of this," he thought.
  %p
    After what seemed like hours, his class was dismissed. Jumping up, he hurried out of the classroom. Slacking his pace as he was lost in the sea of migrating students, he looked up. Time slowed to a crawl as he brushed past her. Tall, elegant, thin, and graceful, she flowed down the hallway; a dreamy gaze parting the flood around her. Long, glossy, auburn hair fluttered over her shoulders. "That smile..." he thought. A dim flashback of a small girl wearing a white dress, swinging on a swing suddenly came to him. Time snapped back into place when he bumped into the oncoming traffic. Plowing through, he made a left down the hallway towards his English classroom. This would give him time to think.
  %p
    The dismissal bell rang once again, but he had neither learned nor concluded anything.
  %p
    He spared no time in asking his teacher about selective amnesia after science class that afternoon.
  %p
    "Ha! Ha-ha. No, no, no. Amnesia is so rare that I have never encountered a case in all of my years being a doctor. As for selective amnesia, I'm going to guess that it's even more rare," he answered, amused.
  %p
    "What does this mean?" Eric asked himself, walking to his next class. He wanted to be completely sure. He had remembered noticing the way that the stranger, as Eric decided to label him, had left the school the day before. After school, Eric waited for him there, rummaging through his backpack, looking for him out of the corner of his eye. At last he emerged, hands in his pockets, strolling as slowly as ever. Eric waited until he was a good distance ahead, zipped his backpack closed, and followed behind at the same steady, slow pace. After a while, the stranger noticed that he was being followed. Eric noticed the change and quickened his pace before the stranger could turn around. The stranger, walking backwards, looked at him with eyes half open, as if the noise of a fly had agitated his attention. There was no turning back.
  %p
    "Hey! Wait up." Eric yelled, smiling with effort, but not unconvincingly. The stranger only turned around again and continued at his leisurely pace. Eric jogged to catch up with him.
  %p
    "Hey," he said, slowing. "I don't understand the math homework. Could I stop by your place and get some help?"
  %p
    The stranger thought to himself for a moment and answered, "No. I'm busy."
  %p
    "Alright. Could you just explain it to me, then?"
  %p
    The stranger slowly turned his head and looked at Eric with the most sleepy, nonchalant stare Eric had ever seen. It made Eric's skin crawl and he almost involuntarily turned his head straight.
  %p
    "Man," thought Eric, "that was weirdest thing that's ever happened to me." He had a strange feeling that it was imperative not to say anything after that. The stranger didn't offer any conversation either. After a few more blocks and about as much as Eric could have taken of that, the stranger turned down Terrace Drive. Eric slowed and stopped on the corner. The stranger walked down a few houses, turned right, and entered house number 401. Eric quickly turned around and went back the way he came. "401 Terrace Drive? That rings a bell. And that was not normal. What the heck is going on?"
  %p
    Arriving home, he was drowning in questions. Unable to do anything about them, he figured he'd go even more crazy if they kept going round and round in his head. He sat down to do his homework to distract himself. When his mother called him down for dinner, he went down and ate in silence. Noticing, she asked, "What happened in school today?" Eric didn't even hear her.
  %p
    "Eric?"
  %p
    "What?" he said.
  %p
    "What happened in school today?"
  %p
    "Oh, um, nothing much," he answered. He thought to himself, "Huh. Nothing much. I think there are aliens or something up to something around here. She'd never believe me, though. Aliens..." and sank back into his thoughts. However, keeping discreetly to himself was making him crazy. It was him burning him up.
  %p
    "OK," she said, and the conversation remained on the opposite side of the table.
  %p
    The questions, "What am I going to do?" and "What can I do?" kept circling in his head. After helping clear the table on auto-mode, he made his way upstairs and went to bed. Having a great deal of trouble getting to sleep again, he tossed and turned, but couldn't find a comfortable position. Even once he fell asleep, he slept lightly. A little before midnight, he woke up and couldn't fall asleep again at all. The night was calling him, urging him to go for a walk. After a while, he figured that it wasn't worth lying there if he couldn't sleep, so he got up, dressed quickly and climbed out his window onto his back porch. It was warm enough out to wear a T-shirt and shorts. He was wide awake. Again he noticed how light he felt. The moon was full and the breeze was blowing slightly. Walking around to the front of his house, he made a left down Willow towards Jefferson. Lost in thought, he let his feet do the navigating.
  %p
    After a while, he noticed Lucy Mollan down a side street, standing there. She was staring up at the sky holding very still. Eric walked a little closer and said, "Lucy?" There was no reply. Moving up to her and around her, it was her alright.
  %p
    "Lucy, why are you out so late?! She didn't move. He waved his hand in front of her eyes. She blinked and looked around startled.
  %p
    "What? How did I get here?" she asked.
  %p
    "Umm...?" he asked back. Just then they both shivered. He looked around. Something wasn't right. He looked up the street and down the street again. Something stirred within him. He felt different somehow. Looking back up the street, there stood one of the three other unknowns. "Where the heck did he come from?" he thought to himself. "There's no way he could have come all the way down the street in such a short time."
  %p
    The unknown was holding his hand strangely. Looking at it, Eric saw the outline of a knife. Squinting, he could see the moon's reflection, but other light seemed to pass right through it. The edges of it gave off a dim iridescent outline. Looking back at the face of the unknown, he noticed something else. His mouth... His smile, to be more precise, was strange. It was evil looking. Looking closer, Eric noticed the length of the incisors. "Is that... No. He was planning to... oh $#%@." Lucy was looking up at the sky again.
  %p
    "You shouldn't wander outside late at night," said the unknown in his high, chilling voice. He took a step nearer. An anger rose in Eric that he had never known before. One that was not his, but at the same time, more his than anything he had ever felt. The knife flashed. Everything became dark but the knife. The next moment, images flooded back and Eric saw the unknown frozen with a horrified look and then turn to dust and smoke, blowing away in the breeze. The knife was in Eric's hand. He could hear things one hundred times better and see just as clearly. His body felt light as a feather; was light as a feather. Taking a closer look at the knife, he was repulsed and threw it from him. It stuck in the roof of a house. That seemed very satisfying to him. Then he remembered Lucy. He waved his hand in front of her eyes again and snapped his fingers, saying, "Lucy! Lucy. Snap out of it." She came to and looked around again.
  %p
    "But... what?" she asked, even more dazed than before.
  %p
    "Let me walk you home," he said. "It's too late to be out." He took her by the hand and led her home. She was still too far under some sort of spell to really come to. Looking at her, he thought how beautiful she was. Arriving at her door and with a strange twist of his wrist, she walked inside her house and shut the door.
  %p
    Standing for a spell after the door had closed, he asked himself, "Is this a dream?" Looking at his hands and the moon, he concluded that it couldn't be. He shook his head, and felt himself return to normal. He was so extremely tired all he could do was stumble home, back into his room, and fall onto his bed, sound asleep.
  %p
    That night was a blur of confused images; a mirage; it was words on a page without glasses; a memory from a previous life; a lie told by a whispering story teller; a trick played by a passing magician; a flicker in the light. It wasn't anything at all.
  %hr
  %h3
    Words of Wisdom Spoken by Samuel Isaac
  %p
    (This happens way later in the story)
  %p
    "Fear not, people. Raise not your torches and pitchforks. Learn, instead, the truth. We are not your enemy. We shared the common enemy, now extinguished. We are but in search of life. We offer life. What you fear is to be feared, true enough, but we are not that. We were silent for so long in fear of just this. The silence is now broken and all we can ask for is your mercy. Life shall continue for you the same in either case. May you only choose what is in everyone's best interest."
  %hr
  %p
    %img{src: '/images/vampire-like.jpg'}
  %h3
    Notes
  %p
    Although elder vampires are very careful not to choose the wrong person to offer immortality to, it's only a matter of time before a problem arises. It's extremely difficult to find someone with just the right personality to safely offer immortal and supernatural existence to. Even people who were once good candidates may change their minds after a few hundred years. They grow weary of chess and mind games and desire new thrills. This is the case for the biggest problem to have happened for quite some time, if not ever, which we will discuss presently. A particularly violent and reckless renegade, he thought that he knew better than the elders and decided to break the rules. He had a particularly bad sweet tooth. The reason he was a problem was that he was no average vampire. He certainly wasn't stupid, and his skill at hypnosis was far better than most vampires. He chose his allies very carefully, and over time, a number of the younger vampires joined him in his scheme. His idea was to go to towns, killing off people, drinking their blood, and altering the memories of anyone affected by the deaths, making them appear accidents. He didn't see anything wrong with this scheme. His argument was that since the person was killed before he drank his or her blood, there wouldn't be a problem. (Once a person is dead, he or she cannot be turned into a vampire.) The elder vampires were outraged when they found out what he was doing. All of them had been human at one time, and they forbade the killing of people for petty reasons like that. A fight broke out amongst the elder and younger vampires. There were heavy casualties on both sides but there was no victory. The living renegades vanished before the battle was over, all grinning, able to cover their tracks with the leader's hypnosis. They didn't care about their fallen comrades as the elders did. They thought it better that the weak were out of the way. The elders, on the other hand, swore revenge. They follow the renegades to this day, never able to pin them down, but catching them long enough for a skirmish once in a while.
  %p
    Two nice, quiet people, Alice and Mark Stephens, in an average, medium sized, suburban town were trying to have a baby. After trying for years, Alice was informed by her doctor that she was infertile. That night, the unnamed one, wandering slowly over the Earth heard their grief and troubles through their walls. He was tired and solitary and wanted to sleep. In the silence of that warm, moonlit night, he formed a basket, blanket, and a gorgeous human baby boy; that of himself from some unknown time, all from the soil in the garden. He placed the items upon the Stephens' doorstep and rang the doorbell. He abandoned his elder, worn self, which turned to dust and blew away in the wind, and crept into the depths of the heart of the warm, peaceful child to sleep and dream. The Stephens adopted that beautiful baby boy and were truly happy. The unnamed slept deeply. The boy was named Eric. He grew up.
  %p
    A word regarding vampires: they can come out during the day if they take on human form, but they have to be careful not to die in their fragile bodies. Also, It is not necessary for them to constantly drink blood. For the average vampire, that would pose the rather large problem of Fibonacci proliferation. Really, it's candy to them. After a few hundred years most vampires get bored with just existing and want a little more. Wouldn't you? Of course, once the responsible vampires let slip an irresponsible vampire or two, it's a big problem. At one time, this problem became bad enough that the church found out and became involved. After a big fuss and a systematic extermination of the vampires causing problems, the only ones left were the originals.
  %p
    Vampires as humans go through at least one period in their lives where they don't like their reflection. It's scary for some reason. That's because as vampires, they're very, very good at hypnosis. They can accidentally entrance themselves and aren't able to come out of it until either another vampire comes along and intervenes, or the mirror is broken. Everyone knows it's seven years bad luck to break a mirror. This might be why. A vampire in that state might immediately curse whoever broke the mirror before coming around and thanking him or her. The vampire might not even notice having placed a curse at all.
  %p
    If you're afraid of vampires, do not put garlic around your neck. They will laugh at you and torment you. Why would vampires dislike garlic? For heaven's sake, they're people, even if they are undead.