---
title: To Mine Tenant
layout: general
---
.row.columns
  %h1
    #{page.title}
  %hr.no-spacing
  .small-margin-bottom
.row.columns
  %p.text-center
    My patience, worn; thin to the bone,
    %br
    As reverence holds a sorry tone.
    %br
    Please heed some rules I wish to hone,
    %br
    And let not slip a single groan.
    %br
    It is my house in which you lodge.
    %br
    These accusations thou canst not dodge.
    %br
    And if I hearest thou speak, "Hodgepodge,"
    %br
    Thou wilst rest feet 'neath my garage.
  %p.text-center
    Racketing 'til ten to two!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    %br
    &nbsp;&nbsp;RousE thee I wilst you sorry fool!
    %br
    Where thou Spitst, thou carest little.
    %br
    &nbsp;Couldst fill a Pot with thy spittle.
    %br
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thy manners at Eating want much.
    %br
    &nbsp;&nbsp;As for mine own meal, I Can't touch!
    %br
    &nbsp;And wait I to receive a cenT!
  %p.text-center
    There is but one thing I expect.
    %br
    Deep down thou knowest I suspect.
    %br
    But if thou dost not know'th the word,
    %br
    A lie I find at least absurd,
    %br
    Then thou shouldst searcheth high to low.
    %br
    The answer thou wilst com'th to know.