---
title: Learn Quare Num Mnemonic
layout: web-app
---
%h1#num
%div.invert
  %input.text-center#ans{:onkeyup => 'check()', :size => '2', :type => 'text'}
/ Height is defined so that when the comment changes height, the back icon won't jump
%h1.text-center#comment Please enable JavaScript.
%script{src: '/js/practice/learn-quare-num-mnemonic.js'}