---
title: Juggling
layout: general
---
.row.columns
  %h1
    #{page.title}
  %hr.no-spacing
  .small-margin-bottom
.row.columns
  %p
    I know how to juggle various different objects. I'm best at 3, 4 and 5 balls, contact juggling, staff, club passing and poi. I am slowly getting better with four clubs, I enjoy balancing objects on my nose, and I like diabolo.
  %p
    Other jugglers think I'm crazy, but what I juggle with are unaltered tennis balls. I started using them because they glow like crazy in a blacklight and I had an upcoming talent show act that I wanted to use them for. I considered filling them with coins or something, but I figured it would be fairly easy to get used to using them as they were. I practiced with them for about a month before the performance and I haven't stopped since! They are about as inexpensive and durable a juggling prop you can buy. Plus drops are very hazardous with tennis balls so it trains you to prevent/handle drops onstage!
  %p
    I'm into acrobatics. I can do front and back walkovers and handsprings.
  %p
    The Crystal Method was playing on Esplanade at Burning Man. There was a group of <a href='/videos/spinning-fire-for-the-crystal-method-at-burning-man.webm'>fire spinners keeping a circle clear</a> to spin in. This was my highlight of the burn that year.
  %p
    <a href='/videos/pass-juggling-ten-balls.webm'>Pass juggling ten balls with my friend Tailor</a>.