---
title: About Me
layout: general
---
.row.columns
  %h1
    #{page.title}
  %hr.no-spacing
  .small-margin-bottom
.row.columns
  %p
    I am a <a href='http://spyrosoft.com/'>professional web developer and designer</a>. I spin fire and juggle.
  %p
    Someone had me <a href='http://www.humanmetrics.com/cgi-win/jtypes1.htm'>take a survey</a> a while back. I just did it to humor the person, but the results astonished me. I am type INFJ. I never realized that there were other people out there like I am. I would sure like to meet them.
  %p
    I used to <a href='http://people.tribe.net/simianjuggler'>blog on tribe</a>.