---
title: Paint Art
layout: general
---
.row.columns
  %h1
    #{page.title}
  %hr.no-spacing
.small-margin-bottom
.text-center.paint-art
  .row
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/QbicPrr.jpg'}
      %label Qbic Purr
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/Tilish.jpg'}
      %label Tilish
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/Xtn.jpg'}
      %label Xtn
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/STileIsh.jpg'}
      %label τSh
  .row
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/Ffext.jpg'}
      %label Ffext
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/Baildy.jpg'}
      %label Baildy
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/Ziggy.jpg'}
      %label Ziggy
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/QuartlyQBic.jpg'}
      %label QBic
  .row
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/Infex.jpg'}
      %label Infex
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/BoxyBall.jpg'}
      %label Next
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/Powllar.jpg'}
      %label Swift
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/Fraze.jpg'}
      %label Fraze
  .row
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/GateToHell.jpg'}
      %label Gate To Hell
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/Frazey.jpg'}
      %label Frazey
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/Sprypim.jpg'}
      %label Sprypim
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/Zartx.jpg'}
      %label Zartx
  .row
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/PrymidTile.jpg'}
      %label Prymid
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/PrymidBandOver4invrt.jpg'}
      %label Prymidy
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/PrymidAndOver4invrtoutvrt.jpg'}
      %label Prymidly
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/ThineCrevAceIz.jpg'}
      %label ThiΩe (revz
  .row
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/CravaiczeUndFit.jpg'}
      %label (rαvαicze
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/GhostLyink.jpg'}
      %label GhostΓyink
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/LynkSpeek.jpg'}
      %label Γynk Speek
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/LynkZas.jpg'}
      %label Γynk Zas
  .row
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/Ziggly.jpg'}
      %label Ziggly
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/SplitMeNots.jpg'}
      %label SplitMeNots
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/Sweezily.jpg'}
      %label Sweezily
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/Sweezy.jpg'}
      %label Sweezy
  .row
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/BCreate.jpg'}
      %label BCreate
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/DitchWar.jpg'}
      %label Ditch War
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/Dwoor.jpg'}
      %label Dwoor
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/YeShallEnter.jpg'}
      %label Ye Shall Enter
  .row
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/Zem.jpg'}
      %label Squine Zem
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/SithryA.jpg'}
      %label Sithry B
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/SithryB.JPG'}
      %label Sithry
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/Slithry.jpg'}
      %label Slithry
  .row
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/ExTime.jpg'}
      %label Σxτime
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/OurGlass.jpg'}
      %label Our Glass
    .columns.large-3.medium-3.small-6
      %img{:src => '/images/art/paint/Layk.jpg'}
      %label Layk
    .columns.large-3.medium-3.small-6
      %img{:alt => 'Home', :src => '/images/blayk.bmp'}
      %label Blayk
