---
title: Pendants
layout: general
---
.row.columns
  %h1
    #{page.title}
  %hr.no-spacing
  .small-margin-bottom
.row.lightbox-images.text-center
  .columns
    %p
      %a{:href => '/images/art/pendants/Spaceship_for_Spaceboy_Coop.jpg'}
        %img{:src => '/images/art/pendants/thumbnails/Spaceship_for_Spaceboy_Coop.jpg'}
    %p
      This is the fourth and final attempt to create a pendant from the cut out side of a fuel can for my friend Cooper.  The red paint scratches off to reveal the metal underneath.  Packing tape protects it from scratching off any more.
  .columns
    %p
      %a{:href => '/images/art/pendants/Rose_for_Rosie.jpg'}
        %img{:src => '/images/art/pendants/thumbnails/Rose_for_Rosie.jpg'}
    %p
      A rose for my ex-girlfriend, Rosie.
  .columns
    %p
      %a{:href => '/images/art/pendants/DNA.jpg'}
        %img{:src => '/images/art/pendants/thumbnails/DNA.jpg'}
    %p
      While on a visit to New Jersey I had come up with the idea of unbraiding the steel wire and using it in combination with the braided metal.  When I arrived back in Santa Cruz, I looked through the papers on my desk and noticed my list of pendants to make.  When I set eyes on DNA, a light went on, and I got right to work on this one!  This is currently my second favorite, and easily took the longest to make.  This one went to my friend Jessica.
  .columns
    %p
      %a{:href => '/images/art/pendants/Crescent_Moon.jpg'}
        %img{:src => '/images/art/pendants/thumbnails/Crescent_Moon.jpg'}
    %p
      When I made the sun pendant for my Mom, I had a moon pendant in mind for my cousin Jessica.  I attempted to make a moon with a face in the same style as the sun, but it didn't work, so I went with a minimalistic approach!
  .columns
    %p
      %a{:href => '/images/art/pendants/Dodecahedron_Earrings_for_Natalie.jpg'}
        %img{:src => '/images/art/pendants/thumbnails/Dodecahedron_Earrings_for_Natalie.jpg'}
    %p
      It is incredibly hard to work wire into such small dodecahedrons.  These went to my frind Natalie when she told me that her nickname in high school was 'Dodecahedron'.
  .columns
    %p
      %a{:href => '/images/art/pendants/Guitar.jpg'}
        %img{:src => '/images/art/pendants/thumbnails/Guitar.jpg'}
    %p
      I made this for a homeless guy who hangs around Pacific.  As I was making it, I thought to myself, "Should I give this to Benny?  No, I've already decided to give it to that guy."  He's really friendly and plays guitar and sings beautifully.  He wouldn't accept it when I offered it, so I gave it to Benny!
  .columns
    %p
      %a{:href => '/images/art/pendants/Butterfly.jpg'}
        %img{:src => '/images/art/pendants/thumbnails/Butterfly.jpg'}
    %p
      Long story short, I was sitting on some steps under a light in front of Jasmine's house hoping she would come home while I made this.
  .columns
    %p
      %a{:href => '/images/art/pendants/Infinity.jpg'}
        %img{:src => '/images/art/pendants/thumbnails/Infinity.jpg'}
    %p
      I made this but didn't know who to give it to.  I was chilling with Karl and asked him if he had seen it and he said, That's my symbol!  Perfect!
  .columns
    %p
      %a{:href => '/images/art/pendants/Heart.jpg'}
        %img{:src => '/images/art/pendants/thumbnails/Heart.jpg'}
    %p
      I made this for Ellen.
  .columns
    %p
      %a{:href => '/images/art/pendants/Music_Notes.jpg'}
        %img{:src => '/images/art/pendants/thumbnails/Music_Notes.jpg'}
    %p
      My friend Sarah crocheted a Christmas ornament for me a long time ago.  I wanted to give something back, so I decided to make her a music note necklace.
  .columns
    %p
      %a{:href => '/images/art/pendants/Sun.jpg'}
        %img{:src => '/images/art/pendants/thumbnails/Sun.jpg'}
    %p
      One of my very first pendants was a sun pendant for my Mom, but it came out really evil looking.  I really liked it, but it wasn't what I had in mind to give to her so I kept it.  After a year, I finally made this one at Burning Man 2010.
  .columns
    %p
      %a{:href => '/images/art/pendants/Seven_Pointed_Star.jpg'}
        %img{:src => '/images/art/pendants/thumbnails/Seven_Pointed_Star.jpg'}
    %p
      I have wanted to create something for my father for some time.  I attempted to make two different illusions, but both failed.  Finally I chose to make something geometric.  I love making seven pointed stars and thought about making one in a circle, but I wanted to mix it up a bit and thought it might look neat if it were distorted in a square.
  .columns
    %p
      %a{:href => '/images/art/pendants/Mask_For_Rachel.jpg'}
        %img{:src => '/images/art/pendants/thumbnails/Mask_For_Rachel.jpg'}
    %p
      This I gave to my friend Rachel because she likes masks so much.
  .columns
    %p
      %a{:href => '/images/art/pendants/Tree_of_Life.jpg'}
        %img{:src => '/images/art/pendants/thumbnails/Tree_of_Life.jpg'}
    %p
      This pendant is easily my favorite.  I made it for my ex-girlfriend after we broke up.  It was inspired by my senior year of high school Humanities teacher, Mrs. Ferrandi.
  .columns
    %p
      %a{:href => '/images/art/pendants/Ankh.jpg'}
        %img{:src => '/images/art/pendants/thumbnails/Ankh.jpg'}
    %p
      Ankh!
  .columns
    %p
      %a{:href => '/images/art/pendants/Evil_Sun.jpg'}
        %img{:src => '/images/art/pendants/thumbnails/Evil_Sun.jpg'}
    %p
      This is the evil sun I made for my Mom, but didn't give to her.  I created it on the lawn of the Red Church downtown one Wednesday during the summer of 2009.