---
title: Sculpture
layout: general
---
.row.columns
  %h1
    #{page.title}
  %hr.no-spacing
.row.columns
  %h2
    Deep Sleep
  %p
    %img{src: '/images/art/sculpture/deep-sleep-side.jpg'}
  %p
    %img{src: '/images/art/sculpture/deep-sleep-front.jpg'}
  %h2
    Propeller Island
  %p
    %img{src: '/images/art/sculpture/propeller-island.jpg'}
  %h2
    Handy Work
  %p
    %img{src: '/images/art/sculpture/handy-work.jpg'}
  %h2
    Live Long Hand Prosper
  %p
    %img{src: '/images/art/sculpture/live-long-hand-prosper.jpg'}
  %h2
    Haniwa
  %p
    %img{src: '/images/art/sculpture/haniwa.jpg'}