---
title: Other Things About Me
layout: general
---
.row.columns
  %h1
    #{page.title}
  %hr.no-spacing
  .small-margin-bottom
.row.columns
  %h2
    %a{href: '/about/me.html'}
      About Me
  %h2
    %a{href: '/about/what-i-believe.html'}
      What I Believe
  %h2
    %a{href: '/about/juggling.html'}
      Juggling
  %h2
    %a{href: '/about/interesting-things.html'}
      Interesting Things