---
title: Welcome to my site!
layout: general
description: A collection of interesting things and personal works including art, writing, movies, etc.
---
.row
  .columns
    %h1
      %span#time-dependent-greeting
        Greetings
  .columns
    %p
      You'll see strange words like (Nahn Tahm Tool) all over my website. They're dates. <a href='/Efficiency/#QuareNum'>Here's why</a>.
    %p
      On to the important things!
  .columns.large-4.medium-6
    %h6
      %a{href: '/efficiency/'}
        Efficiency
    %p
      Some efficient techniques.
  .columns.large-4.medium-6
    %h6
      %a{href: '/art/'}
        Art Et Cetera
    %p
      I'll stash lots of stuff I've made here.
  .columns.large-4.medium-6
    %h6
      %a{href: 'http://spyrosoft.com/'}
        Software
    %p
      My freelancing website including a collection of software that I either wrote or use.
  .columns.large-4.medium-6
    %h6
      %a{href: '/about/'}
        About
    %p
      If you don't know me yet, a good place to start.
  .columns.large-4.medium-6
    %h6
      %a{href: '/practice/'}
        Practice
    %p
      Some games I have made to practice learning things.
  .columns.large-4.medium-6
    %h6
      %a{href: '/tutorials/'}
        Tutorials
    %p
      A single arithmetic tutorial.
  .columns.large-4.medium-6
    %h6
      %a{href: '/site-map/'}
    %p
      %img{src: '/images/compass-rose.bmp', alt: 'Site Map'}
  .columns.large-4.medium-6
    %h6
      %a{href: '/contact/'}
        Message Me
    %p
      Visiting the site for the first time?
    %p
      Have an idea or two to make the site better?
    %p
      Comments or questions? Please share!
  .columns
    %p
      Fear not, there are even more things to come!