---
title: Welcome to my site!
layout: general
description: A collection of interesting things and personal works including art, writing, movies, etc.
---
.row
  .columns
    %h1
      %span#time-dependent-greeting
        Greetings
  .columns
    %p
      You'll see strange words like (Nahn Tahm Tool) all over my website. They're dates. <a href='/efficiency.html#quare-num'>Here's why</a>.
.row
  .columns
    %h2
      %a{href: '/efficiency.html'}
        Efficiency
    %p
      Some efficient techniques.
  .columns
    %h2
      %a{href: '/art.html'}
        Art Et Cetera
    %p
      I'll stash lots of stuff I've made here.
  .columns
    %h2
      %a{href: 'http://spyrosoft.com/'}
        Software
    %p
      My freelancing website including a collection of software that I either wrote or use.
  .columns
    %h2
      %a{href: '/about.html'}
        About
    %p
      If you don't know me yet, a good place to start.
  .columns
    %h2
      %a{href: '/practice.html'}
        Practice
    %p
      Some games to practice learning things.
  .columns
    %h2
      %a{href: '/tutorials.html'}
        Tutorials
    %p
      A single arithmetic tutorial.
  .columns
    %h2
      %a{href: '/site-map.html'}
        Site Map
    %p
      Find your way around.
  .columns
    %h2
      %a{href: '/contact.html'}
        Message Me
    %p
      Comments or questions? Please share!