---
title: Welcome to my site!
layout: general
description: A collection of interesting things and personal works including art, writing, movies, etc.
---
.row
  .columns
    %h1
      %span#time-dependent-greeting
        Greetings
  .columns
    %p
      You'll see strange words like (Nahn Tahm Tool) all over my website. They're dates. <a href='/Efficiency/#QuareNum'>Here's why</a>.
.row.column-height-14.header-no-left-right-padding
  .columns.large-4.medium-6
    %h2
      %a{href: '/efficiency/'}
        Efficiency
    %p
      Some efficient techniques.
  .columns.large-4.medium-6
    %h2
      %a{href: '/art/'}
        Art Et Cetera
    %p
      I'll stash lots of stuff I've made here.
  .columns.large-4.medium-6
    %h2
      %a{href: 'http://spyrosoft.com/'}
        Software
    %p
      My freelancing website including a collection of software that I either wrote or use.
  .columns.large-4.medium-6
    %h2
      %a{href: '/about/'}
        About
    %p
      If you don't know me yet, a good place to start.
  .columns.large-4.medium-6
    %h2
      %a{href: '/practice/'}
        Practice
    %p
      Some games to practice learning things.
  .columns.large-4.medium-6
    %h2
      %a{href: '/tutorials/'}
        Tutorials
    %p
      A single arithmetic tutorial.
  .columns.large-4.medium-6
    %h2
      %a{href: '/site-map/'}
        Site Map
    %p
      Find your way around.
  .columns.large-4.medium-6
    %h2
      %a{href: '/contact/'}
        Message Me
    %p
      Comments or questions? Please share!