---
title: Practice
layout: general
---
.row.columns
  %h1
    #{page.title}
  %hr.no-spacing
.row.columns
  %h2
    %a{href: '/practice/learn-quare-num-mnemonic.html'}
      Learn Quare Num Mnemonic
  %p
    Learn Quare Num Mnemonic today! It'll be useful to have <a href='/efficiency.html#quare-num-mnemonic'>this</a> handy.
  %h2
    %a{href: '/practice/master-quare-num-mnemonic.html'}
      Master Quare Num Mnemonic
  %p
    Learned the basics? Now become lightning fast.
  %h2
    %a{href: '/practice/three-by-one-multiplication.html'}
      Three By One Multiplication
  %p
    Practice squaring three digit numbers in your head.
  %h2
    %a{href: '/practice/three-digit-squaring.html'}
      Three Digit Squaring
  %p
    Practice squaring three digit numbers in your head.