---
title: Videos, Art, and Writing
layout: general
---
.row.columns
  %h1
    #{page.title}
  %hr.no-spacing
.row.columns
  %h2
    %a{href: '/videos-art-and-writing/videos.html'}
      Videos
  %p
    I took four years of Media/TV class in high school. We studied Final Cut Pro. These are all videos I created and/or acted in. One of them I had the fortune and honor to star in.
  %h2
    %a{href: '/videos-art-and-writing/art.html'}
      Art
  %p
    I make computer graphics and sculpture. Here is a small collection of some of the more fun stuff. Enjoy.
  %h2
    %a{href: '/videos-art-and-writing/writing.html'}
      Writing
  %p
    While I was in high school I enjoyed creative writing. Here are some of those works.