---
title: 500 - Internal Server Error
layout: general
---
.row.columns
	%h1
		500 Internal Server Error
	%p
		Something went wrong on the server.
	%p
		If the issue persists and you know Bennett, please let him know so he can fix it!