---
title: Art
layout: general
---
.row.columns
  %h1
    #{page.title}
  %hr.no-spacing
.row.columns
  %h2
    %a{href: '/videos-art-and-writing/art/pendants.html'}
      Pendants
  %p
    I occasionally create pendants by weaving braided steel wire or etching a drawing from red painted aluminum.
  %h2
    %a{href: '/videos-art-and-writing/art/legos.html'}
      Legos
  %p
    I've been a Lego nut for some time. Here are some of the creations I have made over the years. My favorite is probably my mystery box, the rectangular box with three red pieces on the bottom.
  %h2
    %a{href: '/videos-art-and-writing/art/sculpture.html'}
      Sculpture
  %p
    In high school I took sculpture and craft design classes. These are some of the works I made.
  %h2
    %a{href: '/videos-art-and-writing/art/paint-art.html'}
      Paint Art
  %p
    Artwork created using a combination of Microsoft Paint, IrfanView, and Nero Photosnap.
  %h2
    %a{href: '/videos-art-and-writing/art/illustrator-art.html'}
      Adobe Illustrator Art
  %p
    In high school (Uh Eenuh Oozhay) I took Computer Art Graphics with Mr. Tucci. It was one of the best classes I've ever taken. Tucci was incredible. The software is incredible. I spent more time in that class than any other classes in the morning put together. Actually, the only other class I had in the morning was media. Anyway, I put a lot of work into it. Enjoy.
  %h2
    %a{href: '/images/art/me-he-us-myself-him-i-his-self-and-we.jpg'}
      Many Me
  %p
    This was my desktop wallpaper for a long time. Believe it or not, I made that with Paint. Never again.