---
title: Art
layout: general
---
.row.columns
  %h1
    #{page.title}
  %hr.no-spacing
.row.columns
  %h2
    %a{href: '/videos-art-and-writing/art/pendants.html'}
      Pendants
  %p
    I occasionally create pendants by weaving braided steel wire or etching a drawing from red painted aluminum.
  %h2
    %a{href: '/videos-art-and-writing/art/sculpture.html'}
      Sculpture
  %p
    In high school I took sculpture and craft design classes. These are some of the works I made.
  %h2
    %a{href: '/videos-art-and-writing/art/paint-art.html'}
      Paint Art
  %p
    Artwork created using a combination of Microsoft Paint, IrfanView, and Nero Photosnap.
  %h2
    %a{href: '/images/art/me-he-us-myself-him-i-his-self-and-we.jpg'}
      Many Me
  %p
    This was my desktop wallpaper for a long time. Believe it or not, I made that with Paint. Never again.