---
title: Videos
layout: general
---
.row.columns
  %h1
    #{page.title}
  %hr.no-spacing
.row.columns
  %h2
    %a{href: '/videos/uhhh.webm'}
      The Ultimate Headbanging Headset Holder
  %p
    This is a movie I made over the summer after freshman year (Nuh Uhn Oozhaa). It's been in two film festivals and actually won an award at one of them. Enjoy.
  %h2
    %a{href: 'https://www.youtube.com/watch?v=rVWan2Dz5NU'}
      Boating Experts
  %p
    I won the "Wanna Be A Star?" contest at the <a href='http://www.ironmulenyc.com/'>First Sundays</a> monthly comedy film festival. Casmir Nozkowski directed it. It was an awesome experience.
  %h2
    %a{href: '/videos/eharmony.webm'}
      eHarmony
  %p
    Whenever one of my family members on my Mom's side gets married, it's tradition for the Godmother to create a skit making fun of the bride and groom. My cousin met her fiance on eHarmony and I helped out by creating this video.
  %h2
    %a{href: '/videos/the-episode.webm'}
      The Episode
  %p
    This is a remake of one of my earliest videos originally entitled "Homework Late At Night". I made the original with my webcam waaay back when. Based on a true story!
  %h2
    %a{href: '/videos/dont-cut-school.webm'}
      Don't Cut School
  %p
    This is a movie I made in my Media/TV class during my junior year of high school. Mr. Clayton, you're so awesome. :D