---
title: Writing
layout: general
---
.row.columns
  %h1
    #{page.title}
  %hr.no-spacing
.row.columns
  %h2
    %a{href: '/videos-art-and-writing/writing/the-eric-epic.html'}
      The Eric Epic
  %p
    The story of a boy who grew up not knowing he was a vampire and the day that all changed.
  %h2
    %a{href: '/videos-art-and-writing/writing/this-guy-gerould.html'}
      This Guy Gerould
  %p
    I wrote this for English class in my junior year of high school (Nuh Een Oozhih). It was supposed to be serious, so I got a REDO. Worth it.
  %h2
    %a{href: '/videos-art-and-writing/writing/da-enuma-elish.html'}
      Da Enuma Elish
  %p
    Heh. This is a rendition of The Enuma Elish. (Un Naa Oozheh).
  %h2
    %a{href: '/videos-art-and-writing/writing/to-mine-tenant.html'}
      To Mine Tenant
  %p
    We were given this assignment at the beginning of my senior year of high school in English class. (Oozheh) I think I was the only one that did anything like it. I don't want to give it away. "Tenant, a word."