---
title: Chaos... Is Order? Who Knew?
layout: general
---
.row.columns
  %h1
    #{page.title}
.row
  .columns
    %p
      It always seemed to me that there was an endless ocean of chaos constantly wearing down all forms of order. It was a hopeless inevitability. Then one day, statistics showed me I was wrong. If you apply a few simple rules to chaos, over time it paints beautiful bell curves. Everywhere.
    %p
      If you haven't read <a href='http://www.amazon.com/Drunkards-Walk-Randomness-Rules-Lives/dp/0307275175'>A Drunkard's Walk by Mlodinow</a>, add this to your reading list right now.
  .columns.large-6.medium-6
    %a{href: '/thoughts/evolution-and-the-tipping-point-of-chaos-dependence.html'}
      More Recent Post
  .columns.large-6.medium-6.text-right
    %a{href: '/thoughts/communication-games.html'}
      Less Recent Post