---
title: What Do You Know That I Don't Know?
layout: general
---
.row.columns
  %h1
    #{page.title}
.row
  .columns
    %p
      Everyone knows and thinks about things that other people do not. There is such an incredible missed opportunity here to teach each other more about everything. Maybe resulting in growing closer to one another or learning to understand each other in a more fundamental way.
    %p
      I am looking for a technique to tease out this information. When I went to get a haircut, it was the perfect opportunity to try this out. Barbers (good barbers, anyway) are fascinating people. Being a barber is much more than just cutting hair. A specific type of persona tends to surface in people after cutting hair for a long time. They learn how to stroke just about anyone's ego. In this way, people open up to them and volunteer tidbits about themselves. In this way, barbers end up being collectors of people's stories. Now how do I get the barber to pass this down to me? It turns out that straight up asking for it doesn't work at all. People in general have a hard time coming up with an instantaneous answer to nebulous questions. They feel a sort of inadequacy and end up very uncomfortable. Trying to guess something specific that someone knows that you don't is even more difficult; that's kind of the point. Any ideas?
  .columns.large-6.medium-6
    %a{href: '/thoughts/communication-games.html'}
      More Recent Post
  .columns.large-6.medium-6.text-right
    %a{href: '/thoughts/what-happens-when-you-are-right-and-everyone-else-is-wrong.html'}
      Less Recent Post