---
title: What Don't We Know
layout: general
---
.row.columns
  %h1
    #{page.title}
.row
  .columns
    %p
      Looking back over history at the advances in science and understanding, it really makes you wonder what we still don't know. What can we do to find out what we don't know? Is it possible to analyze the types of things we have discovered to find some sort of pattern which will clue us in to finding more?
    %p
      My cousin once told me a story about his visit to Thailand. I had asked him what the biggest differences in culture were and he told me that there were some concepts that were so foreign to the locals that they literally could not comprehend. Is it possible to reverse engineer this situation to find a technique for identifying things we cannot comprehend and begin to learn?
  .columns.large-6.medium-6
    %a{href: '/thoughts/the-illusory-wall-between-us-and-i.html'}
      More Recent Post
  .columns.large-6.medium-6.text-right
    %a{href: '/thoughts/i-am-whatever-you-believe-i-am.html'}
      Less Recent Post