---
title: What Happens When You Are Right And Everyone Else Is Wrong
layout: general
---
.row.columns
  %h1
    #{page.title}
.row
  .columns
    %p
      It seems seriously unlikely that you are actually right when so many other people think that you are wrong. After running through every possible avenue attempting to prove yourself wrong and failing completely, it's time to face the truth: you are right and everyone else is wrong. This is the least ideal situation possible. Now, not only do you have to solve a problem, you have to solve it alone, AND everyone else is in your way. Sometimes even actively working against you. This is the point where you have to ask yourself a philosophical question and make a decision: is it worth the toil to try to improve the lives of people so far down the line that you may not ever be thanked for the work you have done? Are you willing to risk it not ever being picked up and used at all?
  .columns.large-6.medium-6
    %a{href: '/thoughts/what-do-you-know-that-i-dont-know.html'}
      More Recent Post
  .columns.large-6.medium-6.text-right
    %a{href: '/thoughts.html'}
      All Posts