---
title: You Can Do Pretty Much Anything
layout: general
---
.row.columns
  %h1
    #{page.title}
.row
  .columns
    %p
      It sounds cliche when a parent tells their children that they can do absolutely anything they want. That said, it is incredibly underestimated exactly how true that really is. Most people have significantly more control over themselves and their environment than they realize. It is a lot of work, but it is well worth it. Whenever a decision needs to be made, crank up the creativity. Imagine as many directions to go in along with each of their outcomes as possible. Taking this extra step can lead to remarkable discoveries. There are thousands of decisions that need to be made every day, so start with the more important ones and work outward over time. Be warned, doing so may cause social problems. Making unusual decisions tends to rankle people. It is sometimes a lonely path. But in the end, it tends to pay off.
  .columns.large-6.medium-6
    %a{href: '/thoughts/teaching-how-to-teach.html'}
      More Recent Post
  .columns.large-6.medium-6.text-right
    %a{href: '/thoughts/problems-that-solve-problems.html'}
      Less Recent Post